/F题_清洗后/A_data_value/regmix_domain_sample.jsonl
/F题_清洗后/A_data_value/slimpajama_quality_extended/github_part-6777d8857c6e-000275.jsonl
/F题_清洗后/A_data_value/slimpajama_quality_signal_sample.jsonl
/real_attachments/A_data_value/regmix_domain_sample.jsonl.xz
/real_attachments/A_data_value/slimpajama_quality_signal_sample.jsonl.xz
/.venv/
/.idea/
__pycache__/
__pycache__/
